In [1]:
# To use objects and functions of pandas library
import pandas as pd

In [2]:
#read csv file and store values to the variable
dataset = pd.read_csv("50_Comp_Profit_Analysis.csv")

In [3]:
dataset

     R & D  COSTING  MARKETING       STATE   PROFIT
0    67589    52346     367589     Chennai   167543
1    78045    65802     381914     Madurai   222221
2    88501    79258     396239       Karur   276899
3    98957    92714     410564     Madurai   331577
4   109413   106170     424889     Chennai   386255
5   119869   119626     439214       Karur   440933
6   130325   133082     453539     Madurai   495611
7   140781   146538     467864     Chennai   550289
8   151237   159994     482189     Madurai   604967
9   161693   173450     496514  Coimbatore   659645
10  172149   186906     510839      Trichy   714323
11  182605   200362     525164     Madurai   769001
12  193061   213818     539489     Chennai   823679
13  203517   227274     553814     Madurai   878357
14  213973   240730     568139      Trichy   933035
15  224429   254186     582464      Trichy   987713
16  234885   267642     596789       Karur  1042391
17  245341   281098     611114     Chennai  1097069
18  255797   294554     625439      Trichy  1151747
19  266253   308010     639764     Chennai  1206425
20  276709   321466     654089       Karur  1261103
21  287165   334922     668414       Karur  1315781
22  297621   348378     682739       Karur  1370459
23  308077   361834     697064     Madurai  1425137
24  318533   375290     711389     Chennai  1479815
25  328989   388746     725714       Karur  1534493
26  339445   402202     740039       Karur  1589171
27  349901   415658     754364       Karur  1643849
28  360357   429114     768689     Chennai  1698527
29  370813   442570     783014       Karur  1753205
30  381269   456026     797339     Madurai  1807883
31  391725   469482     811664      Mumbai  1862561
32  402181   482938     825989       Karur  1917239
33  412637   496394     840314     Madurai  1971917
34  423093   509850     854639       Karur  2026595
35  433549   523306     868964     Chennai  2081273
36  444005   536762     883289       Karur  2135951
37  454461   550218     897614      Trichy  2190629
38  464917   563674     911939       Karur  2245307
39  475373   577130     926264     Chennai  2299985
40  485829   590586     940589      Trichy  2354663
41  496285   604042     954914       Delhi  2409341
42  506741   617498     969239     Madurai  2464019
43  517197   630954     983564     Chennai  2518697
44  527653   644410     997889      Trichy  2573375
45  538109   657866    1012214     Chennai  2628053
46  548565   671322    1026539      Trichy  2682731
47  559021   684778    1040864     Chennai  2737409
48  569477   698234    1055189      Trichy  2792087
49  579933   711690    1069514     Madurai  2846765

In [4]:
dataset.columns

Index(['R & D', 'COSTING', 'MARKETING', 'STATE', 'PROFIT'], dtype='object')

In [7]:
#nominal data convert 0 and 1
#astype(int) method to convert the boolean values to integers
dataset=pd.get_dummies(dataset,drop_first=True).astype(int)

In [8]:
dataset

,R & D,COSTING,MARKETING,PROFIT,STATE_Coimbatore,STATE_Delhi,STATE_Karur,STATE_Madurai,STATE_Mumbai,STATE_Trichy
0,67589,52346,367589,167543,0,0,0,0,0,0
1,78045,65802,381914,222221,0,0,0,1,0,0
2,88501,79258,396239,276899,0,0,1,0,0,0
3,98957,92714,410564,331577,0,0,0,1,0,0
4,109413,106170,424889,386255,0,0,0,0,0,0
5,119869,119626,439214,440933,0,0,1,0,0,0
6,130325,133082,453539,495611,0,0,0,1,0,0
7,140781,146538,467864,550289,0,0,0,0,0,0
8,151237,159994,482189,604967,0,0,0,1,0,0
9,161693,173450,496514,659645,1,0,0,0,0,0
10,172149,186906,510839,714323,0,0,0,0,0,1
11,182605,200362,525164,769001,0,0,0,1,0,0
12,193061,213818,539489,823679,0,0,0,0,0,0
13,203517,227274,553814,878357,0,0,0,1,0,0
14,213973,240730,568139,933035,0,0,0,0,0,1
15,224429,254186,582464,987713,0,0,0,0,0,1
16,234885,267642,596789,1042391,0,0,1,0,0,0
17,245341,281098,611114,1097069,0,0,0,0,0,0
18,255797,294554,625439,1151747,0,0,0,0,0,1
19,266253,308010,639764,1206425,0,0,0,0,0,0
20,276709,321466,654089,1261103,0,0,1,0,0,0
21,287165,334922,668414,1315781,0,0,1,0,0,0
22,297621,348378,682739,1370459,0,0,1,0,0,0
23,308077,361834,697064,1425137,0,0,0,1,0,0
24,318533,375290,711389,1479815,0,0,0,0,0,0
25,328989,388746,725714,1534493,0,0,1,0,0,0
26,339445,402202,740039,1589171,0,0,1,0,0,0
27,349901,415658,754364,1643849,0,0,1,0,0,0
28,360357,429114,768689,1698527,0,0,0,0,0,0
29,370813,442570,783014,1753205,0,0,1,0,0,0
30,381269,456026,797339,1807883,0,0,0,1,0,0
31,391725,469482,811664,1862561,0,0,0,0,1,0
32,402181,482938,825989,1917239,0,0,1,0,0,0
33,412637,496394,840314,1971917,0,0,0,1,0,0
34,423093,509850,854639,2026595,0,0,1,0,0,0
35,433549,523306,868964,2081273,0,0,0,0,0,0
36,444005,536762,883289,2135951,0,0,1,0,0,0
37,454461,550218,897614,2190629,0,0,0,0,0,1
38,464917,563674,911939,2245307,0,0,1,0,0,0
39,475373,577130,926264,2299985,0,0,0,0,0,0
40,485829,590586,940589,2354663,0,0,0,0,0,1
41,496285,604042,954914,2409341,0,1,0,0,0,0
42,506741,617498,969239,2464019,0,0,0,1,0,0
43,517197,630954,983564,2518697,0,0,0,0,0,0
44,527653,644410,997889,2573375,0,0,0,0,0,1
45,538109,657866,1012214,2628053,0,0,0,0,0,0
46,548565,671322,1026539,2682731,0,0,0,0,0,1
47,559021,684778,1040864,2737409,0,0,0,0,0,0
48,569477,698234,1055189,2792087,0,0,0,0,0,1
49,579933,711690,1069514,2846765,0,0,0,1,0,0

In [9]:
dataset.columns

Index(['R & D', 'COSTING', 'MARKETING', 'PROFIT', 'STATE_Coimbatore',
       'STATE_Delhi', 'STATE_Karur', 'STATE_Madurai', 'STATE_Mumbai',
       'STATE_Trichy'],
      dtype='object')

In [10]:
#split input and output
independent = dataset[['R & D', 'COSTING', 'MARKETING', 'STATE_Coimbatore',
       'STATE_Delhi', 'STATE_Karur', 'STATE_Madurai', 'STATE_Mumbai',
       'STATE_Trichy']]
dependent = dataset[['PROFIT']]

In [11]:
independent

,R & D,COSTING,MARKETING,STATE_Coimbatore,STATE_Delhi,STATE_Karur,STATE_Madurai,STATE_Mumbai,STATE_Trichy
0,67589,52346,367589,0,0,0,0,0,0
1,78045,65802,381914,0,0,0,1,0,0
2,88501,79258,396239,0,0,1,0,0,0
3,98957,92714,410564,0,0,0,1,0,0
4,109413,106170,424889,0,0,0,0,0,0
5,119869,119626,439214,0,0,1,0,0,0
6,130325,133082,453539,0,0,0,1,0,0
7,140781,146538,467864,0,0,0,0,0,0
8,151237,159994,482189,0,0,0,1,0,0
9,161693,173450,496514,1,0,0,0,0,0
10,172149,186906,510839,0,0,0,0,0,1
11,182605,200362,525164,0,0,0,1,0,0
12,193061,213818,539489,0,0,0,0,0,0
13,203517,227274,553814,0,0,0,1,0,0
14,213973,240730,568139,0,0,0,0,0,1
15,224429,254186,582464,0,0,0,0,0,1
16,234885,267642,596789,0,0,1,0,0,0
17,245341,281098,611114,0,0,0,0,0,0
18,255797,294554,625439,0,0,0,0,0,1
19,266253,308010,639764,0,0,0,0,0,0
20,276709,321466,654089,0,0,1,0,0,0
21,287165,334922,668414,0,0,1,0,0,0
22,297621,348378,682739,0,0,1,0,0,0
23,308077,361834,697064,0,0,0,1,0,0
24,318533,375290,711389,0,0,0,0,0,0
25,328989,388746,725714,0,0,1,0,0,0
26,339445,402202,740039,0,0,1,0,0,0
27,349901,415658,754364,0,0,1,0,0,0
28,360357,429114,768689,0,0,0,0,0,0
29,370813,442570,783014,0,0,1,0,0,0
30,381269,456026,797339,0,0,0,1,0,0
31,391725,469482,811664,0,0,0,0,1,0
32,402181,482938,825989,0,0,1,0,0,0
33,412637,496394,840314,0,0,0,1,0,0
34,423093,509850,854639,0,0,1,0,0,0
35,433549,523306,868964,0,0,0,0,0,0
36,444005,536762,883289,0,0,1,0,0,0
37,454461,550218,897614,0,0,0,0,0,1
38,464917,563674,911939,0,0,1,0,0,0
39,475373,577130,926264,0,0,0,0,0,0
40,485829,590586,940589,0,0,0,0,0,1
41,496285,604042,954914,0,1,0,0,0,0
42,506741,617498,969239,0,0,0,1,0,0
43,517197,630954,983564,0,0,0,0,0,0
44,527653,644410,997889,0,0,0,0,0,1
45,538109,657866,1012214,0,0,0,0,0,0
46,548565,671322,1026539,0,0,0,0,0,1
47,559021,684778,1040864,0,0,0,0,0,0
48,569477,698234,1055189,0,0,0,0,0,1
49,579933,711690,1069514,0,0,0,1,0,0

In [12]:
dependent

     PROFIT
0    167543
1    222221
2    276899
3    331577
4    386255
5    440933
6    495611
7    550289
8    604967
9    659645
10   714323
11   769001
12   823679
13   878357
14   933035
15   987713
16  1042391
17  1097069
18  1151747
19  1206425
20  1261103
21  1315781
22  1370459
23  1425137
24  1479815
25  1534493
26  1589171
27  1643849
28  1698527
29  1753205
30  1807883
31  1862561
32  1917239
33  1971917
34  2026595
35  2081273
36  2135951
37  2190629
38  2245307
39  2299985
40  2354663
41  2409341
42  2464019
43  2518697
44  2573375
45  2628053
46  2682731
47  2737409
48  2792087
49  2846765

In [13]:
#split training and testing sets
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(independent,dependent, test_size=0.30,random_state=0)

In [20]:
#create model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [22]:
weight = regressor.coef_
weight

array([[ 1.15358365e+00,  1.48456595e+00,  1.58044049e+00,
        -6.00001105e-11,  2.64697796e-23, -6.61299910e-12,
        -4.47644617e-11,  0.00000000e+00, -1.13442851e-11]])

In [23]:
bias = regressor. intercept_
bias

array([-569090.19276657])

In [24]:
# to predict the dependent variable and value store in variable
Y_predict = regressor.predict(X_test)
#calculate the R-squared score
from sklearn.metrics import r2_score
#To indicates a better fit or not.
r_score = r2_score(Y_test,Y_predict)

In [25]:
r_score

1.0

In [26]:
#defines a filename for saving purpose
import pickle
#This line defines a filename for saving the serialized model .sav commonly used for saved models
filename = "Finalized_Multiple_Linear_Model.sav"

In [27]:
#To save the trained linear regression model
pickle.dump(regressor, open(filename, 'wb'))

In [29]:
#The loaded model to make predictions, opens the file and read as binary file
model = pickle.load(open("Finalized_Multiple_Linear_Model.sav",'rb'))

In [30]:
result = model.predict([[590389,725146,1083839,1,0,0,0,0,0]])

C:\Users\ELCOT\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [31]:
result

array([[2901443.]])